<app-name-input/>

<div *ngIf="waiting">
    <span class="loading loading-spinner"></span>
</div>

<div *ngIf="!waiting" class="grid grid-cols-12 gap-5 mx-5 my-5">

    <div class="border-1">

    </div>
    <div class="col-span-10 border-1">
        <h1 class="text-3xl font-bold text-center">Sprint Casino</h1>
    </div>
    <div class="border-1">
        <app-theme/>
    </div>



    <div class="col-span-8 border-1">
        <app-player/>
    </div>
    <div class="col-span-4 border-1 text-center">
        <app-card-picker/>
    </div>



    <div class="col-span-4 border-1"></div>
    <div class="col-span-4 border-1 text-center">
        <app-controls/>
    </div>
    <div class="col-span-4 border-1"></div>
</div>
